html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
   height: 100vh;
   width: 100%;
}

.header {
  max-width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.content {
  max-width: 95%;
  margin: 0 auto;
}

.header h1 {
  text-align: center;
  padding: 10px;
  border: 2px solid white;
  border-radius:25px;
}


.aff_areas {
  border: 2px solid white;
  padding: 10px;
}
.donate_area {
  border: 2px solid white;
  padding: 10px;
}

.notification_area {
  border: 2px solid white;
  padding: 10px;
}