html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: border-box;
}

.container_root {
   height: 100vh;
   width: 100%;
   background: #e53935;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  height: 80px;
  background: white;
  color: black;
  box-shadow: 0px 0px 12px rgba(0,0,0, 0.9);
}

.logo_area {
  padding: 10px;
}

.logo_text {
  font-size: 24px;
  margin-left: 10px;
}

.shoutout {
  
}

.content {
  max-width: 95%;
  border: 2px solid white;
}
