html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ''
}

.container {
   width: 100%;
   background: #e4700c;
   display: flex;
}