html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sans-serif';
}

.container {
   height: 100vh;
   width: 100%;
   background: #fc9b35;
   color: white;
}

.header {
  max-width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.content {
  max-width: 95%;
  margin: 0 auto;
}
