html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: border-box;
}

.container_root {
   height: 100vh;
   width: 100%;
   background: #e53935;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  max-width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.content {
  max-width: 95%;
  margin: 0 auto;
}

.header h1 {
  text-align: center;
  padding: 10px;
  border: 2px solid white;
  border-radius:25px;
}


.aff_areas {
  border: 2px solid white;
  padding: 10px;
}
.donate_area {
  border: 2px solid white;
  padding: 10px;
}

.notification_area {
  border: 2px solid white;
  padding: 10px;
}