html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: border-box;
}

/*Common styles*/
.center {
  margin: 0 auto;
  text-align: center;
}

.padding5 {
  padding: 5px;
}
.margin10 {
  margin: 10px;
}

/* The app styles starts from here */
.container_root {
   height: 100%;
   width: 100%;
   background: #e53935;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  height: 80px;
  background: white;
  color: black;
  box-shadow: 0px 0px 12px rgba(0,0,0, 0.9);
  display: flex;
  justify-content: space-around;
}

.logo_area {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.logo_text {
  font-size: 24px;
  margin-left: 10px;
}

.shoutout {
  padding: 10px;
  flex-grow: 2;
  font-size: calc(20px + 1vw);
  text-align: center;
  margin: auto;
}

.content {
  margin: 3% auto;
  padding: 2%;
  max-width: 95%;
}

.affected_areas {
  color: black;
}

.affected_areas--city_name {
  font-weight: bold;
}

.affected_areas--state {
  display: inline-block;
  margin-left: 25%;
  font-weight: bold;
}

.affected_areas--severity_indicator {
  position: absolute;
  right: 2%;
}

.hlp-hlp-card__header {
  background: #fb913e;
  color: white;
}

.donation_area--desc {
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
}

.donation_area--desc_item {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid red;
  margin: auto 2px;
  padding: 4px;
}

.donation_value--text {
  text-align: center;
}

.donation_value--rupee {
  display: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.donation_value--slider {
  margin-top: -15px;
}

.donation_value--action {
  height: auto;
  width: 90%;
  padding-top: 30px;
}
.donation_value--action > button {
  font-size: 20px;
}

.emergency_contact--item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  color: black;
}

.emergency_contact--item_provider {
  word-wrap: wrap;
  flex: 1;
}

.emergency_contact--item_state {
  display: block;
  text-align: center;
  flex: 1
}
.emergency_contact--item_call_btn {
  display: block;
  flex: 1;
}