html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sans-serif';
}

.container {
   height: 100vh;
   width: 100%;
   background: #fdb525;
   display: flex;
   color: white;
}